<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Articulatr</title>
    <% include ../partials/head %>
  </head>

  <body>
    <div class="container-fluid about-body">
      <nav class="navbar navbar-default navbar-fixed-top navbar-about">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href='/'><i class="fa fa-microphone"></i> Articulatr</a>
          </div>
          <ul class="nav navbar-nav navbar-right navbar-right-about">
            <li><a href="/about">About</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>

      <div class="about-content">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <h1>About Me</h1>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-2">
            <img src="img/cmu.png" class="img-rounded" width="150" height="150">
          </div>

          <div class="col-sm-4">
            <p>I'm Beilin Li, a third year undergraduate at Carnegie Mellon University studying math and computer science.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-2">
            <img src="img/github.png" class="img-rounded" width="150" height="150">
          </div>

          <div class="col-sm-4">
            <p>View some of my other projects <a href="https://github.com/bli0042">here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
